.root{
  width: 6rem;
  height: 6rem;
  font-size: 0.8rem;
  .weatherStateImg {
    width: 1rem;
    margin: 0 auto;
  }
  .textFontSize {
    font-size: 0.8rem;
  }
  .temperature {
    justify-content: space-evenly;
  }
}