.root {
  background-color: #ebedf0;
  min-height: 100vh;
  .information {
    margin: 0 auto;
  }
  .weatherWidget {
    min-height: 30rem;
    max-width: 55rem;
    margin: 0 auto;
  }
  .temperatureText {
    font-size: 5rem;
  }
}
